

.Pname{
  background-color: #e20b0b;
}
.CockStudio{
   width: auto;
   margin-left: 0%;

}
.ListItem {
   text-decoration: none;

   text-transform: uppercase;
   align-items: center;
   padding: 10px 0 10px 30px;
   font-family: "Poppins", sans-serif;
   font-size: 13px;
   font-weight: 500;
   display: flex;
 }
 .NavHome{
     text-decoration: 'none';
     color: white ;
 }
 
 .footer{
   
     text-align: center;
     background-color: #e20b0b;
     color: white;
     flex-shrink: 0;
     margin-top: 50%;
 }

.log{
  margin-bottom: 100px;
}
.Screen{
  margin-top: 30px;
  max-height: 80%;
  text-align: center;
}
NavLink{
  text-decoration: none;
  color: white;
}
